<p>forget-password works!</p>
<div class="card-container">
    <div class="logo-container">
        <img src="../../../assets/Images/GoogleLogo" id="logo-image" alt="Logo">
    </div>
    <h2 class="title">Find Your Email</h2>
    <div class="para-cont">
        <p>Enter Your Phone Number or Recovery Mail</p>
    </div>
    <form [formGroup]="ForgetPasswordForm" (ngSubmit)="ForgetPassword()">
        <div class="form-container">
           <div class="input-container">
            <mat-form-field appearance="outline" class="input-field">
                <mat-label>Email or Phone</mat-label>
                <input matInput placeholder="Email or Phone" formControlName="email">
            </mat-form-field> 
            <button mat-raised-button color="primary" class="sign-in-btn">Next</button>
           </div>
           
        </div>
    </form>
</div>
