.card-Container{
    display: inline-flex;
    // justify-content: center;
    // align-items: center;
    width: 350px;
    margin-left: 30px;
    margin-top: 30px; 
}
.card-wrapper{
    display:flex;
}
.mat-mdc-card{
    border-radius: 15px;
    position: relative;
}
.mat-mdc-card:hover{
    border: 2px solid #e0e0e0;
    box-shadow: 0 8px 12px black;
}

.title {
    display: flex;
    height: 100%;
    width: 350px;
    overflow: hidden; 
    overflow-wrap: anywhere;
}
.notes-body{
    overflow-wrap: anywhere;
}

.notesTitle {
    padding: 20px;
    width: 100%; 
    
}
.keepButton ,.checkbox{
    visibility: hidden;
}


mat-card:hover .keepButton {
    visibility: visible;
}

mat-card:hover .checkbox {
    visibility: visible;
}

mat-card:hover .notes-icons{
    visibility: visible;
}

.notes-icons{
    visibility: hidden;
  
}
.notes-icons.visible {
    visibility: visible; 
  }

.checkbox {
    position: absolute; 
    top: -20px;
    left: -22px; 
    z-index: 1;
}
.imagesMenu{
    display: flex;
}
