* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.card-container {
    display: flex;
    width: 1250px;
    padding: 40px;
    margin: 150px auto;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.logo-container {
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo-image {
    width: 60px;
    height: 60px;
}

.para-cont {
   display:flex;
   width: 500px;
   height:20px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
}

.title {
    font-size: 24px;
    color: #424242;
}

.input-field {
    width:500px; 
}
.input-container{
    width:500px;
    margin-left: 650px;

}

.forgot-btn {
    float: right;
    margin-right: 400px;
    font-size: 14px;
    color: #1a73e8;
}
.create-btn{
    font-size: 14px;
    color: #1a73e8;
    margin-left: 900px;
}
.sign-in-btn {
    float:inline-end;
    margin-right: 25px;
    padding: 12px;
    font-size: 16px;
    width: 80px;
    border-radius: 20px;
}

